
th {
    text-align:left;
}
input {
    width:100%;
    height:100%;
    border:1px solid blue;
}
.main {
    border:2px outset;
    width:700px;
    height:100%;
    float:right;
}
.busca {
    background-color:#ff3c3c;
    width:200px;
    height:95%;
    border:2px outset;
    float:left;
	text-align:top;
}
.resultado {
    width:100%;
    height:100%;
    border:1px solid black;
    vertical-align:top;
}
.resultado div 
{
 height:300px;
 border:none;
 overflow-y:auto;
 text-align:top;
}
.tbusca {
 width:100%;
 height:100%;
}
.mtable {
    height:100px;
	width:100%;
}
.mtable th {
    background-color:#AAAAAA;
    color:white;
    height:22px;
}
.mtable tr {
 width:100%;
}
.mtable td {
 width:100%;
 background-color:red;
 height:20px;
}
.tabs {
    width:690px;
    height:268px;
    border:1px solid red;
}
.toolbar{
	height:25px;
	width:100%;
}
.toolbar td {
   width:50%;
}
.tb {
	height:22px;
	width:100%;
	border:2px ridge DarkGray;
}

